body {
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


.fuente {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(#1E3A8A, #274bc9);
    height: auto;
    padding: 60px 20px;

    text-align: center;
    color: white;
    min-height: 300px;
    background-size: cover;
}

#hero-texto {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}


#subtitulo-hero {
    font-size: 18px;
    line-height: 1.5;
    padding: 0 10px;
    width: 100%;
    font-weight: 300;
}


#titulo-hero {
    margin-top: 0;
}



#servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #f0f4ff;

    color: #0f290e;

    padding-bottom: 150px;
}

#paginas,
#maquetacion,
#portafolios,
#correccion,
#mejoras,
#linkinbio {
    width: 100%;
    max-width: 450px;
    text-align: center;
}


#arriba,
#medio {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}



#abajo {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.servicios-img {
    width: 100px;
    height: 100px;

    object-fit: cover;

    border: 3px solid #0A4DFF;
    border-radius: 50%;

    object-position: center;
}

#titulo-servicios,
#titulo-contacto {
    margin: 50px 0px;
    font-size: 30px;
}

.subtitulo-servicios {
    font-weight: 700;
}

.descripcion-servicios {
    text-align: left;
    color: #1f2937;
}

.tarjetas {
    background: white;

    height: auto;

    padding: 25px 30px;

    box-shadow: 0 4px 15px #00000015;
    border-radius: 15px;
    transition: 0.2s;
}

#contacto {
    display: flex;
    flex-direction: column;
    background: white;

    height: auto;

    text-align: center;

    padding: 50px 0;
    width: 100%
}

#whatsapp {

    background: #12b886;
    border: none;
    border-radius: 10px;
    color: white;

    font-size: 30px;

    padding: 10px 20px;
}

.tarjetas:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px #00000025;

    transition: 0.2s;
}

#whatsapp:hover {
    background: #0fae78;
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

#whatsapp-img {
    width: 60px;

    margin: 0 auto 60px;
}

@media (max-width: 900px) {

    #arriba,
    #medio,
    #abajo {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        width: 100%;
        justify-content: center !important;
    }

    #paginas,
    #maquetacion,
    #portafolios,
    #correccion,
    #mejoras,
    #linkinbio {
        width: 90%;
    }

    .tarjetas {
        height: auto;
        padding: 25px 15px;
        margin: 0 auto;
    }

    #servicios {
        padding-bottom: 80px;
    }

    #contacto {
        padding-bottom: 40px;
    }

    .descripcion-servicios {
        text-align: center;
    }

    body {
        position: relative;
        left: 0;
        right: 0;
    }

    * {
        max-width: 100vw !important;
    }

    img,
    .tarjetas,
    .servicios-img {
        max-width: 100% !important;
    }

    #hero {
        width: 100vw !important;
    }

}

@media (min-width: 900px) {
    #hero {
        height: 350px;
    }
}
